In [3]:
import pandas as pd

### Loading all the Files

In [4]:
item_cat    = pd.read_csv('database/item_categories.csv')
items       = pd.read_csv('database/items.csv')
sales_train = pd.read_csv('database/sales_train.csv')
shops       = pd.read_csv('database/shops.csv')
test        = pd.read_csv('database/test.csv')

### Info

* There are a total of 84 Unique **item_categories_id**


STEPS:

1. Merged items && item_cat on 'item_category_id' --> data
2. Merged sales_train && data on 'item_id' --> data
3. Merged data && shops on 'shop_id' --> data

### Manipulating

In [ ]:
data = pd.merge(items, item_cat, on='item_category_id')
print(data.shape)
data.head()

In [28]:
data = pd.merge(sales_train, data, on='item_id')
print(data.shape)
data.head()

(2935849, 9)

,date,date_block_num,shop_id,item_id,item_price,item_cnt_day,item_name,item_category_id,item_category_name
0,02.01.2013,0,59,22154,999.0,1.0,ЯВЛЕНИЕ 2012 (BD),37,Кино - Blu-Ray
1,23.01.2013,0,24,22154,999.0,1.0,ЯВЛЕНИЕ 2012 (BD),37,Кино - Blu-Ray
2,20.01.2013,0,27,22154,999.0,1.0,ЯВЛЕНИЕ 2012 (BD),37,Кино - Blu-Ray
3,02.01.2013,0,25,22154,999.0,1.0,ЯВЛЕНИЕ 2012 (BD),37,Кино - Blu-Ray
4,03.01.2013,0,25,22154,999.0,1.0,ЯВЛЕНИЕ 2012 (BD),37,Кино - Blu-Ray

In [34]:
data = pd.merge(data, shops, on='shop_id')
print(data.shape)
data.head()

(2935849, 10)

,date,date_block_num,shop_id,item_id,item_price,item_cnt_day,item_name,item_category_id,item_category_name,shop_name
0,02.01.2013,0,59,22154,999.0,1.0,ЯВЛЕНИЕ 2012 (BD),37,Кино - Blu-Ray,"Ярославль ТЦ ""Альтаир"""
1,16.05.2013,4,59,2573,249.0,1.0,DEL REY LANA Born To Die,55,Музыка - CD локального производства,"Ярославль ТЦ ""Альтаир"""
2,26.01.2013,0,59,2574,399.0,1.0,DEL REY LANA Born To Die The Paradise Editio...,55,Музыка - CD локального производства,"Ярославль ТЦ ""Альтаир"""
3,09.01.2013,0,59,2574,399.0,1.0,DEL REY LANA Born To Die The Paradise Editio...,55,Музыка - CD локального производства,"Ярославль ТЦ ""Альтаир"""
4,24.02.2013,1,59,2574,399.0,1.0,DEL REY LANA Born To Die The Paradise Editio...,55,Музыка - CD локального производства,"Ярославль ТЦ ""Альтаир"""

## Exporting the Merged Dataset

In [35]:
data.to_csv('database/train.csv')